<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		
		<classes>
			<class name="testcases.DependsOnDemo" />
			<class name="testcases.TestCasesDemo" />
			<class name="testcases.AnnotaionsDemo" />
			<class name="testcases.BeforeMethodsDemo" />
			<class name="testcases.PriorityDemo" />
			<class name="testcases.GroupsDemo" />
			<class name="testcases.XMLParameters" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
